# Dependencies
node_modules/
.pnpm-store/

# Environment Variables
.env
.env*.local
!.env.example

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turborepo
.turbo/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Testing / Coverage
coverage/
.nyc_output/

# Docker volumes / temp data
.minio/
.postgres/
scripts/cache/
*.zip
